.bg-dark {
  background: #fc00ff;
  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to right, #00dbde, #fc00ff);
}

#mainNav .navbar-brand {
  color: white;
  font-family: Kaushan Script,Helvetica Neue,Helvetica,Arial,cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: white;
}

.text-primary {
  color: transparent!important;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: left;
  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to right, #00dbde, #fc00ff);
}

.text-muted {
  color: white!important;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #00dbde;
  border-color: white!important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #00dbde;
  border-color: none;
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #00dbde;
  border-color: none;
}

.btn-primary:hover {
  color: #212529;
  background-color: #00dbde!important;
  border-color: none;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

